<header>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gestion de congés</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les employés
        </mat-panel-title>
      </mat-expansion-panel-header>


       <div class="panel-content">
        <button mat-button class="panel-button" (click)="toggleAddForm()">Ajouter un employé</button>
        <button mat-button class="panel-button" (click)="toggleUserList()">La liste employés</button>

       </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les congés
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button class="panel-button" (click)="toggleAddConges()">Ajouter un congé</button>
        <button mat-button class="panel-button" (click)="toggleUserConges()">La liste des congés</button>
        <button mat-button class="panel-button" (click)="showListUser()">Valider un congé</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les présences
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button class="panel-button" (click)="openAddEmpForm()">La liste des présences</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les mandats de responsabilités
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button class="panel-button" (click)="openAddEmpForm()">Ajouter un mandat</button>
        <button mat-button class="panel-button" (click)="showListUser()">Afficher la liste des mandats</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les départements
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button class="panel-button" (click)="toggleAddSH()">Ajouter un departement</button>
        <button mat-button class="panel-button" (click)="toggleisListSh()">l'organigramme des departements</button>
      </div>
    </mat-expansion-panel>
  </mat-toolbar-row>
</mat-toolbar>
</header>



<body>
  <div class="main-body">
    <ng-container *ngIf="isAddFormVisible">
      <app-user></app-user>
    </ng-container>
  
    <ng-container *ngIf="isUserListVisible">
      <app-user-list></app-user-list>
    </ng-container>
    <ng-container *ngIf="isshowAddCongesForm">
      <app-conges-add></app-conges-add>
    </ng-container>
    <ng-container *ngIf="isCongeListVisible">
      <app-conges></app-conges>
    </ng-container>
    <ng-container *ngIf="isAddSh">
      <app-sh></app-sh>
    </ng-container>

    <ng-container *ngIf="isListSh">
      <app-diagram></app-diagram>
    </ng-container>
  </div>


  <router-outlet></router-outlet>
</body>



<footer></footer>